
[id^="section-"] video{
    display:none
}
@media all and (min-width:481px){
    [id^="section-"] video{
        display:block;
    }
}

.scroll-down-icon{
    color: var(--background-color);
    position: absolute;
    left: 50%; transform:translateX(-50%);
    /* bottom: 3.5rem; */

    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    z-index: 5;

    animation: moveScrollDown .75s infinite;
}

@keyframes moveScrollDown{
    from{
        bottom: 1.5rem;
    }
    to{
        bottom: 1rem;
    }
}

@media all and (min-width:481px){
    .scroll-down-icon{
        bottom: 3.5rem;
    }
    @keyframes moveScrollDown{
        from{
            bottom: 4rem;
        }
        to{
            bottom: 3.5rem;
        }
    }
}
#section-wimple{
    background-image: var(--background-dark),url(/img/main/wimple_bin.jpg);
    text-align: left;
}

#section-sdgs{
    background-image: var(--background-dark),url(/img/main/sdgs.jpg);
    text-align: center;
}
#section-gpgp{
    background-image: var(--background-dark),url(/img/main/gpgp.jpg);
    text-align: center;
    height: 100vh;
}
#section-gpgp .headline-1{
    position: relative
}
#section-gpgp .headline-1 .text-xs{
    font-weight: 300;
    white-space: nowrap;
}


.swiper-container{
    height: 100vh;
}
.swiper-wrapper{
    height: 100%;
}

.swiper-slide {
    max-height: 100%;
}
#main [id*="section-"]{
    width: auto;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    position: relative;

}

#main [id*="section-"] .full-page-text{
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    padding-top: var(--header-height);
    z-index: 10;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    width: 100%;
}

#section-wimple .full-page-text{
    align-items: flex-start!important;
    top: 33.33%!important;
    left: 8vw!important;
    transform: translateY(-50%)!important;
}
