#main{
    padding: var(--header-height) 0 var(--distance-default) 0;
}
#main section[id*="section-"]{
    padding-top: var(--distance-default);
}
.sub-title-wrap{
    margin-bottom: var(--distance-default);
}

.headline-wrap{
    margin-bottom: var(--distance-default);
}
.headline-wrap .text-rg{
    color: var(--text-sub-color);
}

@media all and (min-width:481px){
    .sub-title-wrap{
        margin-bottom: var(--distance-default);
    }
    
    .header .menu-wrap .menu > a:after{
        background: var(--text-color);
    }
}

/* sub-header */
.sub-header__bg{
    width: 100vw;
    height: 100vh;
    position: relative;
}
/* 반드시 페이지 클래스를 추가해주세요  */
.sub-header__bg.about{
    background: var(--background-dark),url(../img/about/sub_header.jpg) center center / cover;
}
.sub-header__bg.solution{
    background: var(--background-dark),url(../img/solution/solution_sub_header.jpg) center center / cover;
}
.sub-header.title-wrap{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 50%; top: 50%; transform: translate(-50%, -50%);

    color: var(--background-color);
    text-align: center;

    width: 100%;
    padding: 0 1rem;
    word-break: keep-all;
}

/* sub-header - 탭버튼 */
.sub-header__tab-wrap {
    border-bottom: 1px solid var(--line-color);
    z-index: 10;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
}
.sub-header__tab-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.sub-header__tab-wrap.scrolled{
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
}
.sub-header__tab-list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1em 1rem;
    
}
@media all and (min-width:481px){
    .sub-header__tab-list{
        justify-content: center;
    }
}
.sub-header__tab-list a{
    flex: 0 0 auto;
    padding: 0.5em 1em;
}
.sub-header__tab-list a.active{
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: 99px;
}

.sub-header__tab-wrap.fixed{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
}


/* about.php 회사정보 */
#section-about .switch-table {
    gap: 1.5rem;
}
@media all and (min-width:481px){
    #section-about .switch-table {
        gap: var(--distance-default);
        align-items: flex-start;
    }
    #section-about .headline-wrap {
        width: 17.5rem;
    }
}
.about__list,
.about__list--depth{
    padding: 1em;
    padding-left: 0;
    border-bottom: 1px solid var(--line-color);
}
.about__list--depth{
    display: flex;
    flex-direction: row;
}
.about__list:last-child,
.about__list--depth:last-child{
    border-bottom: none;
}
.about__list--sub{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.about__list--sub .text-remark{
    width: unset;
    flex-basis: unset;
}

@media all and (min-width:481px){
    .about__list .text-remark,
    .about__list--depth .text-remark{
        width: 5.5rem;
        flex-basis: 5.5rem;
    }
    .about__list--sub{
        display: flex;
        flex-direction: row;
        gap: .5rem;
        /* margin-bottom: 0; */
    }

    
}


/* about - history list */
.history__wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--distance-default);
}
.history__year-wrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.history__year-wrap .headline-3{
    padding: 14px 0;
}
.history__img-wrap{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom:22.25%;
    overflow: hidden;
}
.history__img{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

@supports (aspect-ratio: 2/ 1){
    .history__img-wrap{
        height: auto;
        padding-bottom: 0;
        aspect-ratio: 2 / 1;
    }
}

.history__list{
    position: relative;
    padding: 0;
    /* padding-left: 1rem; */
    width: 100%;
}
.history__list .text-remark{
    width: unset;
    flex-basis: unset;
}
.history__desc{
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: 1rem 0;
    border-bottom: none;
}

@media all and (min-width:481px){
    .history__wrapper{
        position: relative;
    }
    .history__year-wrap{
        flex-direction: row;
        gap: 2rem;
        position: relative;
    }
    .history__year-wrap:before{
        content: '';
        background: var(--text-color);
        border-radius: 99px;
        width: 4px;
        height: 4px;

        position: absolute;
        left: 50%; transform: translateX(-50%);
        top: 1.5em;
    }
    .history__wrapper:before{
        content: '';
        background: var(--line-color);
        border-radius: 99px;
        width: 1px;
        height: 100%;

        position: absolute;
        left: 50%; transform: translateX(-50%);
        top: 0.5em;
    }
    .history__wrapper li:nth-of-type(2n) .history__year-wrap,
    .history__wrapper li:nth-of-type(2n) .history__list .history__desc
    {
        flex-direction: row-reverse;
    }
    .history__wrapper li:nth-of-type(2n) .history__list,
    .history__wrapper li:nth-of-type(2n) .history__list *{
        text-align: right;
        justify-content: end;
    }
}
/* about-사업실적 */
.performance__list{
    text-align: center;
    margin-bottom: 1rem;
}
@media (min-width:481px) and (max-width:768px){
    .performance__list-wrap{
        display: grid;
        grid-template-columns: repeat(3,1fr)!important;
    }
}

@media all and (min-width:481px){
    .performance__list-wrap{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-items: center;
    }
    .performance__img-wrap img{
        width: 18vw;
    }
    .performance__list{
        margin-bottom: var(--distance-default);
    }
}

/* about-위치 */
.location__list-wrap{
    display: flex;
    flex-direction: column;
    gap: var(--distance-default);
}
.location__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.location__map{
    width: 100%;
    height:320px;
}
.location__addr-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.location__addr-wrap ion-icon{
    color: var(--text-sub-color);
    font-size: 1.25em;
    cursor: pointer;
}

@media all and (min-width:481px){
    .location__list-wrap{
        gap: var(--distance-default);
        flex-direction: row;
    }
}


/* about - partners */
.partners-logo{
    width: 100%;
    padding: 1rem;
}
.partners-img{
    width: 100%;
}

.root_daum_roughmap {
    width: 100%!important
}

/* about-파트너스 */
.grid{
    display: grid;
    place-items: center;
    gap: 1rem;
}
.grid--square{
    grid-template-columns: repeat(2,1fr);
    gap: 0;
}

.grid__list--small{
    grid-template-columns: repeat(3,1fr);
}
.grid__list--square{
    height: 100%;
    padding: 1rem;
    border-right: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.grid__list--square:nth-child(odd){
    padding-left: 0;
}
.grid__list--square:nth-child(even){
    padding-right: 0;
    border-right: none
}
.grid__list--square:nth-child(3),
.grid__list--square:nth-child(4){
    border-bottom: none;
}

.grid__img-wrap{
    padding: 1rem;
}
.grid__img-wrap--small{
    padding: 2rem;
}
@media (min-width:481px) and (max-width:768px){
    .grid__list--small{
        grid-template-columns: repeat(4,1fr)!important;;
    }
}
@media all and (min-width:481px){
    .grid__list--small{
        grid-template-columns: repeat(6,1fr);
    }
}


/* solution-skill (자동분리수거 등 나오는 거) */
.skill__list{
    margin-bottom: var(--distance-default);
}
.skill__img-wrap video{
    display: none
}
.bg-img-wrap{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.bg-img-wrap--square{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow:hidden;

    background-position: center center;
    background-size: cover;
}
@media all and (min-width:481px){
    .bg-img-wrap--square{
        padding-bottom: 27.55%;
    }
}
@supports (aspect-ratio : 1 / 1){
    .bg-img--wrap--square{
        height: auto;
        padding-bottom: 0;
        aspect-ratio: 1 / 1;
    }
}
.bg-img-wrap--square[data-name="wee"]{
    background-image: url(/img/solution/top.jpg);
}
.bg-img-wrap--square[data-name="motion"]{
    background-image: url(/img/solution/wimple_motion.jpg);
}
@media all and (min-width:481px){
    .bg-img-wrap--square[data-name="wee"]{
        background-image: none;
    }
    .bg-img-wrap--square[data-name="wee"] video{
        width: 100%;
        height: unset;
    }   
    .bg-img-wrap--square[data-name="motion"]{
        background-image: none;
    }
    .bg-img-wrap--square[data-name="motion"] video{
        width: 100%;
        /* height: 100%; */
    }   
}

.skill__desc-wrap{
    width: 100%;
}
.skill__desc-wrap .headline-3{
    margin-bottom: 1rem;
}



/* switch-table*/
/* 모바일: 세로 / 태블릿+pc: 가로 전환 테이블 */
.switch-table{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.switch-table__title--pc{
    display: none;
}

.switch-table__img-wrap{
    width: 100%;
}
.switch-table__text-wrap{
    width: 100%;
}
.switch-table__desc{
    padding: 1em 0;
    line-height: 1.5em;
    border-bottom: 1px solid var(--line-color);
}
.switch-table__desc .headline-3 {
    margin-bottom: 1rem;
}
.switch-table__desc:last-child{
    border-bottom: none
}


/* title */
.title-wrap{
    margin-bottom: var(--distance-default);
}

/* solution - 제일 위 이미지 한정 */
#section-summary{
    background-size: cover;
    padding-top: 0!important;
}
.absolute__img-wrap{
    position: relative;
}
#section-summary .absolute__img-wrap{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    background-image:linear-gradient(45deg, #EAEAEA 20%, white 5%, #e8e8e8)
}
.absolute__img{
    position: absolute;
}

#section-summary .absolute__img{
    background-image: url(/img/solution/wimple_main.jpg);
    background-position-x: 78%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 100%;
}
.absolute__text-wrap{
    position: absolute;
}

#section-summary .absolute__text-wrap{
    left:1rem;
    top:var(--distance-default)
}

@media all and (min-width:481px){
    #section-summary{
        position: relative;
        min-height: 100vh;
    }
    #section-summary .absolute__img{
        position: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .absolute__text-container{
        position: absolute;
    }
    #section-summary .absolute__text-container{
        width: 40%;
        left: 8vw;
        top: var(--distance-default);
        background-size: cover;
    }
    @media (min-width:481px) and (max-height:1080px){
    #section-summary .absolute__text-container{
        width: 50%;
    }

    }
    #section-summary .switch-table__title--pc{
        margin-bottom: var(--distance-default);
    }
}
.switch-table--depth{
    gap: 2rem;
    margin-bottom: var(--distance-default);
}

@media all and (min-width:481px){
    
    .switch-table{
        flex-direction: row;
        gap: var(--distance-default);
        align-items: center;
    }
    .switch-table--depth{
        gap: 2rem;
    }
    
    #section-summary .switch-table.reverse{
        align-items: flex-end;
    }
    .switch-table.reverse{
        flex-direction: row-reverse;
    }
    .switch-table__title--pc{
        display: block;
    }
    .switch-table__title--mobile{
        display: none;
    }
}


@media all and (min-width:481px){
    .gap__wrapper{
        gap: var(--distance-default);
    }
    .wrap--cols.change.center{
        align-items: center;
    }
    .wrap--cols.change.reverse{
        flex-direction: row-reverse;
    }

    /* solution-summary에 쓰이는 그리드 > 2x2 ->> 1x4 */
    .switch-table .grid--square{
        grid-template-columns: repeat(1,1fr);
    }
    .switch-table .grid__list--square{
        display: flex;
        
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
        border-bottom: 1px solid var(--line-color);
        border-right: none;
    }
    .switch-table .grid__list--square:last-child{
        border-bottom: none;
    }
    .switch-table .grid__img-wrap--small{
        padding: 0;
    }
    .switch-table .grid__list--square svg{
        width: 2rem;
    }
}

.grid__img--wimple{
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}


#app-desc-list li{
    cursor: pointer;
    background: var(--background-color);
}
#app-desc-list li.active{
    color: var(--primary-color);
}
@media all and (min-width:481px){
    #app-desc-list li:hover{
        filter: brightness(.95);
        transition: .45s;
    }
}
#wimple__auto-swiper.swiper{
    width: 100%;
}
#wimple__auto-swiper .swiper-slide{
    object-fit: cover;
}
.swiper-slide{
    background: var(--background-color);
}

/* solution - spec */
#section-spec .switch-table__img{
    height: unset;
}


@supports not (display:grid){
    .switch-table__img-wrap.grid{
        position: relative;
        width: 100%;
        height: 0;
        text-align: center;
        padding-bottom: 100%;
    }
    .switch-table__img-wrap.grid img{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}